{:paths ["src"]
 :deps  {com.google.zxing/javase     {:mvn/version "3.5.0"}
         commons-codec/commons-codec {:mvn/version "1.14"}
         org.clojure/clojure         {:mvn/version "1.10.3"}
         ring/ring-codec             {:mvn/version "1.1.2"}}}